* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "roboto", sans-serif;
  background: #28282b;
}

/* IMAGE SECTION */

img {
  margin: 100px;
  width: 10rem;
  cursor: zoom-in;
  transition: transform 2.5s ease;
  border: 2px solid #fff;
  border-radius: 2rem 4rem;
}

/* INPUT SECTION */

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked ~ label > img {
  transform: scale(1.5);
  cursor: zoom-out;
}
